@keyframes fadeInOut{
    0%, 100% {opacity: 0}
    50%{opacity: 1}

}
.nh{
    border: 2px solid red;
    border-radius:50px ;
    
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px
}
.hobbies{
    background-color: blue;

}
div{
    background-color: antiquewhite;

}
p{
    font-size:300% ;
}
footer{
    background-color: black;
    color: white;
}
ol{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    animation-name: fadeInOut;
    animation-duration: 20s;
}
